<br/>
<br/>
<br/>
<br/>

<form asp-controller = "Subscribe" asp-action = "index" method = "post">
      <input type="Hey there" name = "signature" />
      <button type = "submit" > sign here </button>
</form>
