@models 
@{
    ViewData["Title"] = "Home Page";
}

<h1> @ViewData [Titile]</h1>
<h1>There's the profile page for the User ID: @ViewContext.RouteData.Values["ID"]<h1> 
    <h2>Yana W</h2>
    <h2> Student</h2>
