@model List<AllViewModel> 
@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to my site!</h1>
<!--<h1>There's the profile page for the User ID: @ViewContext.RouteData.Values["ID"]<h1> --> 
   <h3>Here's the links to all of the things on it:</h3>
                                       <!--View for First --> 
   <h3><a asp-controller="Home" asp-action="First"> Want to see the World?</a></h3>
                                       <!--  View for api --> 
   <h3><a asp-controller="API" asp-action="Api"> Want to see the API</a> </h3>
                                       
   <h3><a asp-controller="UserID" asp-action="user/{id}"> UserID</a></h3>

   <h3><a asp-controller="MailingList" type = "Post" asp-action=> MailingList</a></h3>
 <!-- append ^ to emails.csv--> 
   <a asp-controller="MailingList" asp-action="Subscribe"> MailingList</a>
<!-- shouls show all of the emails in the email.csv--> 




